 body {
    background-color: powderblue;
    font-size: 16px;
  }
  body {
    text-align: center;
    border: 3px solid green;
  }
  img.rounded-corners {
    border-radius: 30px;
  }
p {
  font-size: 16px;
  font-family: chewy, "Times New Roman," serif;
}
div {
    font-size: 16px;
}
 .float-container {
        border: 2px solid #fff;
        padding: 10px;
    }
    
    .float-child {
        width: 25%;
        float:right;
        padding: 10px;
        border: 15px solid rgba (186, 63,8);
        Padding: 5px;
