 body {
    background-color: powderblue;
  }
  body {
    text-align: center;
    border: 3px solid green;
  }
  img.rounded-corners {
    border-radius: 30px;
  }
 div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
p {
  font-family: chewy, "Times New Roman" serif;
}
