 body {
    background-color: powderblue;
    font-size: 25px;
  }
  body {
    text-align: 
    border: 3px solid green;
  }
  img.rounded-corners {
    border-radius: 30px;
  }
p {
  font-size: 25px;
  font-family: chewy, "Times New Roman," serif;
}
div {
    font-size: 25px;
}
 
* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%; 
  padding: 50px; 
}
img {
  float: left;
}
